.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
}

.toolbar h2 {
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

.toolbar .nav-links a {
  color: white;
  text-decoration: none;
  text-transform: none;
  font-size: 125%;
  margin-right: 12px;
  border-radius: 6px;
  transition-duration: 250ms;
  padding: 0.75rem 1rem;
}

.toolbar .nav-links a:hover {
  background-color: white;
  color: blueviolet;
}
