.form-container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container form {
    padding: 1rem;
    color: white;
}