<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form>
                <h2>Dashboard login</h2>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>