form {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  margin: 0 auto;
}
form label {
  margin: 0 0 0.5rem 0;
}

form input {
  height: 2rem;
  margin: 0 0 0.5rem 0;
  border: none;
  border-bottom: 1px solid black;
}

form button {
  margin: 1rem 0;
  height: 3rem;
  cursor: pointer;
}
